:root {
	--bg: #EBDBB2;
	--box:  #FBF1C7;
	--outline:  #504945;
	--shadow:  #A89984;
	--fg:  #3C3836;
	--link:  #458588;
	
	--box_padding_v: 0.75ch;
	--box_margin_v: 0.666em;
	--box_padding_h: 1.25ch;
	--content_padding_h: 1%;
}
h1,h2,h3,h4 {
	padding: 0 var(--content_padding_h);
	margin: 0.25ch 0 -0.4ch;
}
h1.site_heading {
	margin: 6px 0 7.5px 1ch;
	padding: 0 0;
	line-height:1.0;
}
h3.site_subheading {
	margin: 0em 1em 1em 3.25ch;
	padding: 0 0;
	line-height:1.0;
}
h4.title {
	text-align:center;
}

body {
	margin: 3% auto;
	max-width: min(95vw, 80ch);

	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
	font-size: 16px;
	line-height: 1.4;
	color: var(--fg);

	background-color: var(--bg);
}

.bold { font-weight: bold; }

div.box {
	border-style: solid;
	border-width: 2px;
	border-color: var(--outline);
	border-radius: 12px;
	background-color: var(--box);
	box-shadow:
		0.3em 0.3em 0.15em var(--shadow);
	margin: var(--box_margin_v) 0em;
	padding: var(--box_padding_v) var(--box_padding_h);
}

div.navigation {
	padding: var(--box_padding_v) calc(0.75 * var(--box_padding_h));
	display: inline-grid;
	grid-template-areas:
		'sitelinks outlinks';
}

.nav_sitelinks {
	grid-area: sitelinks;
}
.nav_outlinks {
	grid-area: outlinks;
}

div.posts {
	padding: 0 min(1vw, 1ch);
	display: inline-grid;
	grid-template-columns: repeat(13, 1fr);
	grid-column-gap: var(--box_margin_v);
	grid-row-gap: var(--box_margin_v);
}

div.box.post {
	grid-column: span 6;
	margin: 0;
}
div.box.post:nth-child(4n), div.box.post:nth-child(4n-3) {
	grid-column: span 7;
}

@media (max-width: 480px) {
	div.navigation {
		grid-template-areas:
			'left_nav' 'right_nav';
	}
	div.posts {
		grid-template-columns: 1fr;
	}
	div.box.post:nth-child(4n), div.box.post:nth-child(4n-3) {
		grid-column: span 6;
	}
}

a {
	white-space: nowrap;
				color: var(--link); }
a:hover { 		color: var(--fg); }
a:active { 		color: var(--fg); }
a.button {
	border-style: solid;
	border-width: 2px;
	border-radius: 6px;
	border-color: var(--outline);
	color: var(--fg);
	background-color: var(--box);
	padding: 0.1515em 0.33em;
	line-height: 2.0;
	text-decoration: none;
}
a.button:hover {
	background-color: var(--outline);
	color: var(--box);
}
a.button:active {
	border-color: var(--bg0_h);
	color: var(--fg0);
}

p {
	padding: 0 var(--content_padding_h);
	margin: 1.0ch 0 1.5ch;
	hyphens: auto;
	text-align: justify;
	text-justify: auto;
} 

span.chunk {
	white-space: nowrap;
}

ul {
	padding: 0 1%;
	margin: 0.25em 2.15em;
	text-align: justify;
	text-justify: auto;
}
ul.nobullets {
	list-style-type: none;
	margin: 0.25em 1.0em;
}

img {
	border-style: solid;
	border-width: 2px;
	border-color: var(--outline);
	border-radius: 12px;
	width: min(60ch, 95%);
	display: block;
	box-shadow:
		0.2em 0.2em 0.15em var(--shadow);
	margin: calc(3 * var(--content_padding_h)) auto calc(4 * var(--content_padding_h));
}

hr {
	border-style: solid;
	color: var(--outline);
	margin: calc(3 * var(--content_padding_h)) calc(-1 * var(--box_padding_h));
}

blockquote {
    padding: 0 1%;
	background-color: var(--fg1);
    color: var(--bg1);
}

code {
	background-color: var(--bg0);
    padding: 0 2px;
	color: var(--fg1);
	white-space: nowrap;
}
